
.container{
    background-image: url("../../public/q2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height:100vh;
    overflow-y: hidden;
    min-width:100%;
    display: flex;
    object-fit: fill;
    position: relative;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* 
@media (max-width: 768px) {
    .container{
        background-image: url("../../public/mobilebg.png");

    }
} */
