
/* .container{
    background-image: url("../../public/rp.jpg");
    background-repeat: repeat;
    background-size: 200px;
    min-height:100vh;

}
 */

 .container{
    background-image: linear-gradient(to bottom, #424242, #595463, #756683, #9578a2, #ba88c0, #d391c2, #ea9bc2, #ffa6c2, #ffb3b3, #fbc2af, #f2d1b5, #e9dec5);
    background-attachment: fixed;
    min-height: 100vh;
 }